<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>System Call Interface</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
   
    <div class="container">
        <h1 style="font-family:Verdana, Tahoma, sans-serif">System Call Interface</h1>
   
        <div class="action-buttons" >
            <button class="action-btn" style="font-family:Verdana, Tahoma, sans-serif" onclick="showForm('read')">Read File</button>
            <button class="action-btn" style="font-family:Verdana, Tahoma, sans-serif" onclick="showForm('write')">Write File</button>
            <button class="action-btn" style="font-family:Verdana, Tahoma, sans-serif" onclick="showForm('delete')">Delete File</button>
        </div>

        <!-- Read File -->
        <div id="read-form" class="form-section" style="display:none;font-family:Verdana, Tahoma, sans-serif" >
            <h2>📖 Read File</h2>
            <input type="text" id="read-filename" placeholder="Enter filename (e.g., test.txt)">
            <button class="submit-btn" onclick="readFile()">Read</button>
            <h3>File Content</h3>
            <pre id="file-content"></pre>
            <h3>📂 File Properties</h3>
            <p id="file-properties"></p>
        </div>

        <!-- Write File  -->
        <div id="write-form" class="form-section" style="display:none;font-family:Verdana, Tahoma, sans-serif">
            <h2>✍️ Write File</h2>
            <input type="text" id="write-filename" placeholder="Enter filename (e.g., newfile.txt)">
            <textarea id="file-text" placeholder="Enter file content"></textarea>
            <div class="form1"><button class="submit-btn" onclick="writeFile()">Write</button></div>
            
            <p id="write-message"></p>
        </div>

        <!-- Delete File Form -->
        <div id="delete-form" class="form-section" style="display:none;font-family:Verdana, Tahoma, sans-serif">
            <h2>🙈 Delete File</h2>
            <input type="text" id="delete-filename" placeholder="Enter filename (e.g., test.txt)">
            
            <button class="submit-btn" onclick="deleteFile()">Delete</button>
            <p id="delete-message"></p>
        </div>
    </div>

    <script src="static/script.js"></script>

</body>
</html>
